# Python
__pycache__/
*.pyc
.pytest_cache/
.coverage

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/
.DS_Store

# Allure
allure-results/
allure-report/

# ChromeDriver
chromedriver*
chromedriver.exe